html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Archivo", arial, sans-serif;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0 0;
}

.info {
  text-align: center;
  max-width: 600px;
  margin-bottom: 50px;
}

.info__title {
  font-size: 55px;
}

.info__description {
  font-size: 22px;
}

.container {
  display: -ms-grid;
  display: grid;
  max-width: 1000px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 800px) {
  .container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.box {
  min-height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.247);
  border-radius: 20px;
  background-color: rgba(29, 88, 154, 0.541);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 15%;
  margin: 10px 10px;
  position: relative;
  -webkit-box-shadow: -5px 5px 15px black;
          box-shadow: -5px 5px 15px black;
}

.box::before {
  content: "";
  width: 95%;
  height: 97%;
  position: absolute;
  border: 1px solid black;
  border-radius: 20px;
}

.box:nth-child(3) {
  -webkit-box-shadow: 5px 5px 15px black;
          box-shadow: 5px 5px 15px black;
}

.box__title, .box__price {
  font-size: 45px;
  font-weight: bold;
}

.box__description {
  font-size: 14px;
}

.box__button {
  background-color: #ffffff;
  padding: 8px 25px;
  font-family: "Archivo", arial, sans-serif;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}

.box--featured {
  background-color: rgba(205, 131, 19, 0.603);
  min-height: 550px;
  -webkit-box-shadow: -10px 0 28px black, 10px 0 28px black;
          box-shadow: -10px 0 28px black, 10px 0 28px black;
}

.box--featured::after {
  top: 1.5%;
  width: 50%;
  min-width: 45px;
  height: 20px;
  content: "most popular";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #ffffff;
  background-color: black;
  position: absolute;
  border-radius: 5px;
}

.box--featured .box__title,
.box--featured .box__price {
  font-size: 60px;
  font-weight: bold;
}

.box--featured .box__title {
  margin: 0 0 20px;
}

.box--featured .box__price {
  margin: 30px 0;
}

.box--featured .box__description {
  font-size: 16px;
}

.box--featured .box__button {
  background-color: black;
  color: #ffffff;
  font-size: 20px;
  padding: 12px 28px;
  -webkit-box-shadow: 2px 2px 20px black;
          box-shadow: 2px 2px 20px black;
}
/*# sourceMappingURL=style.css.map */